.transaction{
      flex: 4;
      -webkit-box-shadow: 1px 1px 14px -6px #000000; 
      box-shadow: 1px 1px 14px -6px #000000;
      padding: 20px;
      margin-right: 20px;
      margin-left: 15px;
}

.transactionTitle{
      font-size: 24px;
      font-weight: 600;
}

.transactionTable{
      width: 100%;
      border-spacing: 20px;
}

.transactionth{
      text-align: left;
}

.transactionUser{
      display: flex;
      align-items: center;
      font-weight: 600;
}

.transactionDate,.transactionAmount{
      font-weight: 300;
}

.transactionImg{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 14px;
}

.transactionButton{
      padding: 5px 7px;
      border: none;
      border-radius: 10px;
}

.transactionButton.Approved{
      background-color: #e2fff4;
      color: #01e28c;   
}

.transactionButton.Declined{
      background-color: #fff0f1;
      color: #fa1020;
}

.transactionButton.Pending{
      background-color: #ebf1fe;
      color: #125bf8;
}