.productList {
  flex: 4;
  margin-left: 20px;
  margin-right: 20px;
  -webkit-box-shadow: 0px 8px 22px -9px rgba(0, 0, 0, 0.67);
  box-shadow: 0px 8px 22px -9px rgba(0, 0, 0, 0.67);
  min-width: 0;
  border: none;
}

.productListItem {
  display: flex;
  align-items: center;
}

.productListImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.productListAddButton {
  border-radius: 10px;
  background-color: rgb(126, 185, 126);
  border: none;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
  margin-right: 12px;
  display: flex;
  align-items: center;
}

.productListEdit {
  border-radius: 10px;
  background-color: rgb(126, 185, 126);
  border: none;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
  margin-right: 12px;
}

.productListDelete {
  color: rgb(253, 31, 105);
  cursor: pointer;
}
