.product {
  flex: 4;
  padding: 20px;
  min-width: 0;
}

.productTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.productAddButton {
  display: flex;
  align-items: center;
  width: 80px;
  border: none;
  padding: 5px;
  background-color: teal;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.productTop {
  display: flex;
}

.productTopLeft {
  flex: 3;
}

.productTopRight {
  flex: 2;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  flex-direction: column;
  -webkit-box-shadow: 0px 8px 22px -9px rgba(0, 0, 0, 0.67);
  box-shadow: 0px 8px 22px -9px rgba(0, 0, 0, 0.67);
  display: flex;
  flex-direction: column;
}

.productInfoTop {
  display: flex;
  align-items: center;
}

.productIcon {
  margin-top: 2px;
  margin-right: 5px;
  font-size: 16px !important;
}

.productInfoImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
  margin-right: 20px;
}

.productName {
  font-weight: 600;
}

.productInfoBottom {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 10px;
}

.productInfoItem {
  margin-right: 25px;
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.productInfoKey {
  margin-top: 7px;
}

.productInfoValue {
  font-weight: 300;
  margin-top: 7px;
}

.productTitleBottom {
  font-size: 28px;
  font-weight: 600;
  color: rgb(128, 128, 128);
  margin-left: 20px;
  margin-top: 20px;
}

.productBottom {
  flex: 1;
  padding-top: 14px !important;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 8px 22px -9px rgba(0, 0, 0, 0.67);
  box-shadow: 0px 8px 22px -9px rgba(0, 0, 0, 0.67);
}

.productForm {
  display: flex;
  justify-content: space-between;
}

.productFormLeft {
  display: flex;
  flex-direction: column;
}

.productFormLeft > label {
  margin-bottom: 10px;
  color: rgb(97, 97, 97);
}

.productFormLeft > input {
  margin-bottom: 10px;
  border: none;
  padding: 5px;
  border-bottom: 1px solid #555;
  font-weight: 300;
}

.productFormLeft > select {
  margin-bottom: 10px;
}

.productFormMiddle {
  display: flex;
  flex-direction: column;
}

.productFormMiddle > label {
  margin-bottom: 10px;
  color: rgb(97, 97, 97);
}

.productFormMiddle > input {
  margin-bottom: 10px;
  border: none;
  padding: 5px;
  border-bottom: 1px solid #555;
  font-weight: 300;
}

.productFormRight {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.productUpload {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  color: grey;
  width: 400px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-right: 10px;
}

.productUpload > label {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  color: grey;
}

.productUpload > input {
  height: 20px;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 7px;
}

/* .productUploadImg {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 20px;
} */

.productButton {
  border: none;
  padding: 5px;
  border-radius: 10px;
  background-color: teal;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
